<div class="page-container">
  <h1 class="welcome-header">Welcome to MooMill!</h1>

  <% if current_user %>

      <div class="following-container">
        <span>Following: <%= current_user.following_users_count %> | Followers: <%= current_user.followers.count %></span>
      </div>

      <%= form_tag(users_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
          <%= submit_tag "Search", :name => nil %>
      <% end %>

      <div class="moo-form-container">
        <%= form_for(current_user.moos.new, :url => moos_path(@moo)) do |f| %>

            <div class="actions">
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </div>
            <div class="field">
              <%= f.label :description, "Your Moo: " %>
              <%= f.text_area :description %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
        <% end %>
      </div>

      <% Moo.timeline(current_user).each do |moo| %>
          <div class="moo-tweet">
            <%= image_tag(moo.user.avatar.url, :size => '32x32', :class => 'img-thumbnail navbar-right avatar') %>
            <span><%= link_to "#{moo.user.name }", user_path(moo.user) %></span>
            <span><%= moo.description %></span>
          </div>
      <% end %>


  <% else %>
      <div class="homepage-signup-container">
        <p>To begin Mooing, please <%= link_to 'sign in', new_user_session_path %>. If you aren't already
          registered, <%= link_to 'sign up', new_user_registration_path %> now!</p>
        <%= image_tag("cow-homepage.png", height: 200, class: "cow") %>
      </div>
  <% end %>

</div>